/* importing a font from google */
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');

/* style to override everything*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FEFFFF;
}

/* styles for the list items in the nav and menu button*/
li, a, button {
    font-family: 'B612 Mono'; /* clicking the above font link gives api best settings for this font*/
    font-weight: 400;
    font-size: 16px;
    color: #3AAFA9;
    text-decoration: none;
}

/* styles for the header*/
header {
    display: flex; /*assigns flex container w/ no direction so items go from left to right automatically*/
    justify-content: flex-end; /*push everything to the right*/
    align-items: center; /*take all header items and center them in the middle*/
    padding: 30px 10%; /* 30px top & bottom, 10% on the sides - padding space */
}

/* logo stylings, and navigation menu links styles - used chatgpt to make this responsive*/
.logo {
    cursor: pointer; /* when  you hover over the logo it turns into a cursor */
    margin-right: auto; /*makes the logo move back over to the left*/
    max-width: 100%; /* Ensures the logo doesn't exceed the container's width */
    height: auto; /* Allows the logo to scale proportionally based on its width */
    max-height: 100px; /* Optionally, you can set a maximum height for the logo */
}

.nav__links {
    list-style: none; /* remove bullet points from links */
}

/* nav__links again but targeting the individual items in the list */
.nav__links li{
    display: inline-block; /* side by side links not above one another */
    padding: 0px 20px; /*0px on top, 20px on the sides*/
}

/* targeting the link words to animation them on hover*/
.nav__links li a{
    transition: all 0.3s ease 0s; /* target all words, 0.3s transition and ease no delay */
}
/* what happens on hover */
.nav__links li a:hover{
    color: #2B7A78;
}

/* button styles*/
button {
    margin-left: 20px; /*evenly space button*/
    padding: 9px 25px;
    background-color: rgb(23, 37, 42); /*using rgba for opacity change on hover later*/
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(23, 37, 42, 0.8);
}