@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    background-color: #F4F3F2;
    font-family: "Poppins";
}

.grid-container {
    display: grid;
    background: #E6F8F6;
    max-width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-template-rows: auto 400px auto auto auto auto;
    grid-row-gap: 10px;
}

.grid-container > section {
    border: 1px dashed #777;
    text-align: center;
    padding: 50px;
}

.header {
    grid-column: span 8;
    position: relative;
    background: #A19AD1;
}
.site-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: dashed 1px #FFF;
}
.logo {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    margin-right: auto;
    cursor: pointer;
}
.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-flex;
    padding: 0px 20px;
}

.banner {
    grid-column: span 8;
    background: #8FC2DF;
}
.image-text {
    grid-column: span 8;
    background: #C2E0AE;
}
.three-data-points {
    grid-column: span 8;
    background: #EDCB9C;
}
.images-above-text {
    grid-column: span 8;
    background: #D99CA5;
}
.footer {
    grid-column: span 8;
    background: #A19AD1;
}